<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My App</title>
    <link href="/ui/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>My App</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/organization">Organizations</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>

    <main>
        {{ template "content" . }}
    </main>

    
</body>
<footer>
    <h1>Made by @zsandibe</h1>
</footer>
</html>
