
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
    <h2>Register Organization</h2>
    <form action="/organization/register" method="POST" >
        <!-- Add registration form fields here -->
        <input type="text" name="bin" id="bin" placeholder="BIN" required>
        <input type="text" placeholder="Name" name="name" required>
        <input type="text" placeholder="Address" name="address" required>
        <input type="number" placeholder="Number of Workers" name="number" required>
        <button type="submit">Register</button>
    </form>


</body>
</html>
